{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
<div style="margin-top: 10px;">
    <a href="{% url 'evaluation_list' %}" style="padding: 8px 16px; background: #3498db; color: #fff; text-decoration: none; border-radius: 4px;">Перейти к оценкам менеджеров</a>
</div>
{% endblock %}

{% block userlinks %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">Изменить пароль</a> /
    {% endif %}
    <form action="{% url 'admin:logout' %}" method="post" id="logout-form">
        {% csrf_token %}
        <button type="submit" style="background: none; border: none; color: #fff; text-decoration: underline; cursor: pointer; padding: 0;">Выйти</button>
    </form>
{% endblock %}