{% extends "admin/index.html" %}

{% block content %}
<div class="app-{{ app.app_label }} module">
    <h2>Данные сотрудников</h2>
    {% include "admin/app_list.html" with app_list=app_list|slice:":2" %}
</div>

<div class="app-{{ app.app_label }} module">
    <h2>Метрики и оценки</h2>
    {% include "admin/app_list.html" with app_list=app_list|slice:"2:4" %}
</div>

<div class="app-{{ app.app_label }} module">
    <h2>Аналитика и отчеты</h2>
    {% include "admin/app_list.html" with app_list=app_list|slice:"4:" %}
</div>
{% endblock %}